# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Firdaus Arif Ramadhani
- **Email:** firdausarief65@gmail.com
- **ID Dicoding:** FIRDAUS ARIF RAMADHANI

## Menentukan Pertanyaan Bisnis

-

## Import Semua Packages/Library yang Digunakan

In [2]:
import random
import re
from collections import Counter

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from deep_translator import GoogleTranslator

## Data Wrangling

### Gathering Data

#### Data Tabel `products_df`

In [3]:
products_df = pd.read_csv("e-commerce_public_dataset/products_dataset.csv")
products_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

**Insight:**\
Dataset products_df berisi informasi terkait produk.\
Informasi yang tersedia diantaranya:
1. `product_id`: ID unik untuk setiap produk.
2. `product_category_name`: Panjang nama produk dalam karakter.
3. `product_name_lenght`: Panjang deskripsi produk.
4. `product_photos_qty`: Jumlah foto yang tersedia untuk produk.
5. `product_weight_g`: Berat produk.
6. `product_length_cm`, `product_height_cm`, dan `product_width_cm`: DImensi produk.

#### Data Tabel `product_category_translation_df`

In [4]:
product_category_translation_df = pd.read_csv(
    "e-commerce_public_dataset/product_category_name_translation.csv"
)
product_category_translation_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

**Insight:**\
Dataset `product_category_translation_df` memuat terjemahan nama kategori produk dari bahasa Portugis ke bahasa Inggris.\
Informasi yang tertera diantaranya:
1. `product_category_name`: Nama kategori dalam bahasa Portugis.
2. `product_category_name_english`: Nama kategori dalam bahasa Inggris.

#### Data Tabel `order_reviews_df`

In [5]:
order_reviews_df = pd.read_csv("e-commerce_public_dataset/order_reviews_dataset.csv")
order_reviews_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

**Insight:**\
Dataset `order_reviews_df` berisi informasi mengenai ulasan pelanggan terhadap pesanan yang telah mereka terima.\
Informasi yang tertera diantaranya:
1. `review_id`: ID unik untuk setiap ulasan.
2. `order_id`: ID unik dari pesanan.
3. `review_score`: Skor ulasan yang diberikan oleh pelanggan, pada skala 1-5.
4. `review_comment_title` & `review_comment_message`: Komentar pelanggan.
5. `review_creation_date` $ `review_answer_timestamp`: Waktu ketika ulasan dibuat dan dijawab.

#### Data Tabel `order_payments`

In [6]:
order_payments_df = pd.read_csv("e-commerce_public_dataset/order_payments_dataset.csv")
order_payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

**Insight:**\
Dataset `order_payments` ini berisi informasi mengenai pembayaran yang dilakukan pelanggan untuk pesanan yang mereka buat.\
Informasi yang tertera diantaranya:
1. `order_id`: ID unik untuk setiap pesanan.
2. `payment_sequential`: Urutan pembayaran untuk setiap pesanan.
3. `payment_type`: Jenis pembayaran yang digunakan oleh pelanggan.
4. `payment_installments`: Jumlah cicilan yang diambil oleh pelanggan untuk membayar pesanan.
5. `payment_value`: Nilai total dari setiap pembayaran.

#### Data Tabel `order_items_df`

In [7]:
order_items_df = pd.read_csv("e-commerce_public_dataset/order_items_dataset.csv")
order_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

**Insight:**\
Dataset `order_items_df` berisi informasi mengenai item yang dipesan dalam setiap pesanan.\
Informasi yang tertera diantaranya:
1. `order_id`: ID unik untuk setiap pesanan.
2. `order_item_id`: ID untuk setiap item pesanan dalam pesanan yang sama.
3. `product_id`: ID produk yang dipesan.
4. `seller_id`: ID unik penjual.
5. `shipping_limit_date`: Batas waktu pengiriman item oleh penjual.
6. `price`: Harga jual produk yang dipesan.
7. `freight_value`: Biaya pengiriman item.

#### Data Tabel `geolocation_df`

In [8]:
geolocation_df = pd.read_csv("e-commerce_public_dataset/geolocation_dataset.csv")
geolocation_df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

**Insight:**\
Dataset `geolocation_df` berisi informasi geolokasi.\
Informasi yang tertera diantaranya:
1. `geolocation_zip_code_prefix`: Kode pos.
2. `geolocation_lat`: Koordinat geografis lintang.
3. `geolocation_lng`: Koordinat geografis bujur.
4. `geolocation_city`: Nama kota.
5. `geolocation_state`: Nama negara bagian.

#### Data Tabel `customers_df`

In [9]:
customers_df = pd.read_csv("e-commerce_public_dataset/customers_dataset.csv")
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

**Insight:**\
Dataset `customers_df` berisi informasi mengenai pelanggan yang melakukan pemesanan.\
Informasi yang tertera diantaranya:
1. `customer_id`: ID pelanggan untuk setiap pesanan.
2. `customer_unique_id`: ID unik pelanggan.
3. `customer_zip_code_prefix`: Kode pos pelanggan.
4. `customer_city`: Nama kota pelanggan.
5. `customer_state`: Nama negara bagian pelanggan.

#### Data Tabel `sellers_df`

In [10]:
sellers_df = pd.read_csv("e-commerce_public_dataset/sellers_dataset.csv")
sellers_df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

**Insight:**\
Dataset `sellers_df` berisi informasi penjual\
Informasi yang tertera diantaranya:
1. `seller_id`: ID penjual.
2. `seller_zip_code_prefix`: Kode pos penjual.
3. `seller_city`: Nama kota penjual.
4. `seller_state`: Nama negara bagian penjual.

#### Data Tabel `orders_df`

In [11]:
orders_df = pd.read_csv("e-commerce_public_dataset/orders_dataset.csv")
orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

**Insight:**\
Dataset `orders_df` berisi informasi mengenai pesanan yang dibuat oleh pelanggan.\
Informasi yang tertera diantaranya:
1. `order_id`: ID unik untuk setiap pesanan.
2. `customer_id`: ID pelanggan yang terkait dengan pesanan.
3. `order_status`: Status pesanan yang menunjukkan tahapan pesanan seperti delivered, shipped, canceled, dll.
4. `order_purchase_timestamp`: Tanggal dan waktu pesanan dibuat.
5. `order_approved_at`: Waktu persetujuan pesanan.
6. `order_delivered_carrier_date`: Tanggal pesanan dikirim ke pelanggan oleh kurir.
7. `order_delivered_customer_date`: Tanggal pesanan diterima oleh pelanggan.
8. `order_estimated_delivery_date`: Estimasi tanggal pengiriman pesanan.

### Assessing Data

#### Menilai Tabel `products_df`

In [12]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [13]:
print("\nMissing values in Products dataset:")
products_df.isna().sum()

Missing values in Products dataset:

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [14]:
print("Duplicates in Products dataset:", products_df.duplicated().sum())

Duplicates in Products dataset: 0

In [15]:
products_df["product_weight_g"].describe().round(2)

count    32949.00
mean      2276.47
std       4282.04
min          0.00
25%        300.00
50%        700.00
75%       1900.00
max      40425.00
Name: product_weight_g, dtype: float64

**Insight:**\
Tidak ada data duplikat.\
Terdapat beberapa kolom memiliki nilai yang hilang.\
Rentang nilai `product_weight_g` cukup besar, mulai dari **0.00** hingga **40425** gram, yang menunjukkan adanya anomali pada nilai minimum. Nilai **0.00** pada berat produk tampak tidak logis.

#### Menilai Tabel `product_category_translation_df`

In [16]:
product_category_translation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [17]:
print("\nMissing values in Product Category Translation dataset:")
product_category_translation_df.isna().sum()

Missing values in Product Category Translation dataset:

product_category_name            0
product_category_name_english    0
dtype: int64

In [18]:
print(
    "Duplicates in Product Category Translation dataset:",
    product_category_translation_df.duplicated().sum(),
)

Duplicates in Product Category Translation dataset: 0

**Insight:**\
Setiap kategori produk dalam bahasa Portugis dan terjemahan bahasa Inggris, sesuai dengan jumlah total entri **(71)**.\
Tidak memiliki nilai yang hilang atau duplikat.

#### Menilai Tabel `order_reviews_df`

In [19]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [20]:
print("\nMissing values in Order Reviews dataset:")
order_reviews_df.isna().sum()

Missing values in Order Reviews dataset:

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [21]:
print("Duplicates in Order Reviews dataset:", order_reviews_df.duplicated().sum())

Duplicates in Order Reviews dataset: 0

**Insight:**\
Anomali pada kolom `review_creation_date` & `review_answer_timestamp` yang bertipe data *object* (teks).
Terdapat banyak nilai yang hilang pada entri `review_comment_title` dan `review_comment_message`.\
Tidak ada baris yang duplikat.\

#### Menilai Tabel `order_payments_df`

In [22]:
order_payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [23]:
print("\nMissing values in Order Payments dataset:")
order_payments_df.isna().sum()

Missing values in Order Payments dataset:

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [24]:
print("Duplicates in Order Payments dataset:", order_payments_df.duplicated().sum())

Duplicates in Order Payments dataset: 0

In [25]:
order_payments_df.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

**Insight:**\
Tidak ada *missing values*.\
Tidak ada data duplikat.\
Pada kolom `payment_installments` dengan minimum value **0.00**, yang mungkin menunjukkan pembayaran tanpa cicilan.\
Pada kolom `payment_value`, nilai minimum adalah **0.00**, yang mungkin barang tersebut digratiskan atau sedang promo.

#### Menilai Tabel `order_items_df`

In [26]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [27]:
print("\nMissing values in Order Items dataset:")
order_items_df.isna().sum()

Missing values in Order Items dataset:

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [28]:
print("Duplicates in Order Items dataset:", order_items_df.duplicated().sum())

Duplicates in Order Items dataset: 0

**Insight:**\
Anomali pada kolom `shipping_limit_date` yang bertipe data *object* (teks).\
Tidak ada *missing values*.\
Tidak ada baris yang duplikat.

#### Menilai Tabel `geolocation_df`

In [29]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [30]:
print("\nMissing values in Geolocation dataset:")
geolocation_df.isna().sum()

Missing values in Geolocation dataset:

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [31]:
print("Duplicates in Geolocation dataset:", geolocation_df.duplicated().sum())

Duplicates in Geolocation dataset: 261831

**Insight:**\
Tidak ada *missing values*.\
Terdapat **261831** baris duplikat, sekitar **26%** dari keseluruhan data.

#### Menilai Tabel `customers_df`

In [32]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [33]:
print("\nMissing values in Customers dataset:")
customers_df.isna().sum()

Missing values in Customers dataset:

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [34]:
print("Duplicates in Customers dataset:", customers_df.duplicated().sum())

Duplicates in Customers dataset: 0

**Insight:**\
Tidak ada anomali tipe data.\
Tidak ada *missing values*.\
Tidak ada baris yang duplikat.

#### Menilai Tabel `sellers_df`

In [35]:
sellers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [36]:
print("\nMissing values in Sellers dataset:")
sellers_df.isna().sum()

Missing values in Sellers dataset:

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [37]:
print("Duplicates in Sellers dataset:", sellers_df.duplicated().sum())

Duplicates in Sellers dataset: 0

**Insight:**\
Tidak ada anomali tipe data.\
Tidak ada *missing values.*\
Tidak ada bairs yang duplikat.

#### Menilai Tabel `orders_df`

In [38]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [39]:
print("Duplicates in Orders dataset:", orders_df.duplicated().sum())

Duplicates in Orders dataset: 0

In [40]:
print("\nMissing values in Orders dataset:")
orders_df.isna().sum()

Missing values in Orders dataset:

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

**Insight:**\
Anomali pada kolom `order_purchase_timestamp`, `order_approved_at`, `order_delivered_carrier_date`, `order_delivered_customer_date`, dan `order_estimated_delivery_date` dengan tipe data *object* (teks).\
Tidak ada baris yang duplikat.\
Nilai-nilai yang hilang pada dataset berkaitan dengan tahapan proses pesanan, yang bisa disebabkan oleh pesanan yang belum selesai atau pembatalan.\

### Cleaning Data

#### Membersihkan Tabel `products_df`

In [41]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

**FIXING:** Missing Values

In [42]:
print("\nMissing values in Products dataset:")
products_df.isna().sum()

Missing values in Products dataset:

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [43]:
missing_values = products_df[products_df.isna().any(axis=1)]
missing_values.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0

In [44]:
# Fill missing values in 'product_category_name' with 'unknown'
products_df.loc[:, "product_category_name"] = products_df[
    "product_category_name"
].fillna("unknown")

In [45]:
unknown_count = products_df[products_df["product_category_name"] == "unknown"].shape[0]
print(
    f"Number of rows with 'unknown' entries in 'product_category_name': {unknown_count}"
)

Number of rows with 'unknown' entries in 'product_category_name': 610

In [46]:
print("Product weight statistics:\n")
products_df["product_weight_g"].describe().round(2)

Product weight statistics:

count    32949.00
mean      2276.47
std       4282.04
min          0.00
25%        300.00
50%        700.00
75%       1900.00
max      40425.00
Name: product_weight_g, dtype: float64

In [47]:
# Product weight with value 0
products_df.loc[
    products_df["product_weight_g"] == 0,
    ["product_id", "product_category_name", "product_weight_g"],
]

,product_id,product_category_name,product_weight_g
9769,81781c0fed9fe1ad6e8c81fca1e1cb08,cama_mesa_banho,0.0
13683,8038040ee2a71048d4bdbbdc985b69ab,cama_mesa_banho,0.0
14997,36ba42dd187055e1fbe943b2d11430ca,cama_mesa_banho,0.0
32079,e673e90efa65a5409ff4196c038bb5af,cama_mesa_banho,0.0

In [48]:
cama_mesa_banho_df = products_df[
    products_df["product_category_name"] == "cama_mesa_banho"
]

# Replace the value 0 in the 'product_weight_g' column for the cama_mesa_banho cateogry
products_df.loc[
    (products_df["product_category_name"] == "cama_mesa_banho")
    & (products_df["product_weight_g"] == 0),
    "product_weight_g",
] = cama_mesa_banho_df["product_weight_g"].median()

In [49]:
print("Product weight statistics:\n")
products_df["product_weight_g"].describe().round(2)

Product weight statistics:

count    32949.00
mean      2276.62
std       4281.98
min          2.00
25%        300.00
50%        700.00
75%       1900.00
max      40425.00
Name: product_weight_g, dtype: float64

In [50]:
# Fill missing values with their mean values
products_df["product_name_lenght"] = products_df["product_name_lenght"].fillna(
    products_df["product_name_lenght"].mean().round(2)
)

products_df["product_description_lenght"] = products_df[
    "product_description_lenght"
].fillna(products_df["product_description_lenght"].mean().round(2))

products_df["product_photos_qty"] = products_df["product_photos_qty"].fillna(
    products_df["product_photos_qty"].mean().round(2)
)

In [51]:
print("\nMissing values in Products dataset:")
products_df.isna().sum()

Missing values in Products dataset:

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              2
product_length_cm             2
product_height_cm             2
product_width_cm              2
dtype: int64

In [52]:
missing_rows = products_df[
    products_df[
        [
            "product_weight_g",
            "product_name_lenght",
            "product_height_cm",
            "product_width_cm",
        ]
    ]
    .isna()
    .any(axis=1)
]

missing_rows

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,bebes,60.00,865.0,3.00,NaN,NaN,NaN,NaN
18851,5eb564652db742ff8f28759cd8d2652a,unknown,48.48,771.5,2.19,NaN,NaN,NaN,NaN

In [53]:
columns_to_fill = [
    "product_weight_g",
    "product_length_cm",
    "product_height_cm",
    "product_width_cm",
]

# Specify the category for which you want to fill the NaN value
categories = ["bebes", "unknown"]

# Process for each category
for category in categories:
    for column in columns_to_fill:
        products_df.loc[
            products_df["product_category_name"] == category, column
        ] = products_df[products_df["product_category_name"] == category][
            column
        ].fillna(
            products_df[products_df["product_category_name"] == category][column]
            .mean()
            .round(2)
        )

In [54]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32951 non-null  object
 2   product_name_lenght         32951 non-null  float64
 3   product_description_lenght  32951 non-null  float64
 4   product_photos_qty          32951 non-null  float64
 5   product_weight_g            32951 non-null  float64
 6   product_length_cm           32951 non-null  float64
 7   product_height_cm           32951 non-null  float64
 8   product_width_cm            32951 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

**Insigth:**\
*Missing values* sebanyak **610** pada `product_category_name` berhasil diisi dengan nama kategori produk 'unknown' karena hilangnya informasi pada dataset.\
*Missing values* sebanyak **610** pada [`product_name_length`, `product_description_length`, `product_photos_qty`] berhasil diisi dengan nilai *mean*  dari masing-masing kolom mereka.

Nilai *NaN* di kolom `product_weight_g`, `product_length_cm`, `product_height_cm`, dan `product_width_cm` untuk kategori 'bebes' dan 'unknown' telah diisi menggunakan rata-rata (mean) masing-masing kolom untuk setiap kategori. Pendekatan ini memastikan bahwa setiap kategori produk memiliki nilai yang lebih representatif dibanding menggunakan satu nilai median atau mean secara keseluruhan.

Rentang berat produk `product_weight_g` yang dimulai dari **0.00** hingga **40425** gram, menunjukkan adanya anomali dengan adanya berat produk sebesar **0.00** gram yang telah digantikan dengan nilai *median*.

#### Membersihkan Tabel `order_reviews.df`

In [55]:
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

**FIXING:** Data Types

In [56]:
order_reviews_df[["review_creation_date", "review_answer_timestamp"]].dtypes

review_creation_date       object
review_answer_timestamp    object
dtype: object

In [57]:
order_reviews_df["review_creation_date"] = pd.to_datetime(
    order_reviews_df["review_creation_date"]
)
order_reviews_df["review_answer_timestamp"] = pd.to_datetime(
    order_reviews_df["review_answer_timestamp"]
)

order_reviews_df[["review_creation_date", "review_answer_timestamp"]].dtypes

review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

**Insight:**\
Kolom `review_creation_date` dan `review_answer_timestamp` telah dikonversi menjadi *datetime*.

**FIXING:** Missing Values

In [58]:
order_reviews_df.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [59]:
# Fill the NaN values in review_comment_title and review_comment_message with 'empty'
order_reviews_df.loc[:, ["review_comment_title", "review_comment_message"]] = (
    order_reviews_df.loc[:, ["review_comment_title", "review_comment_message"]].fillna(
        "empty"
    )
)

# Display sample data that contains 'empty'
empty_samples = order_reviews_df[
    (order_reviews_df["review_comment_title"] == "empty")
    | (order_reviews_df["review_comment_message"] == "empty")
]

empty_samples.sample(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
70159,d2131086736a1b69820e60c0aba267b3,c3d24172aec3f97cadcdc629a7357555,4,empty,empty,2017-09-13,2017-09-19 18:37:06
80724,f41b51e086cbee3efc25ed0e52506b0a,9cb1433345225b0c4d9449e593900bdd,5,empty,empty,2018-03-02,2018-03-07 11:45:41
44552,5a636f8f9d36088e3a006b8d9d179cea,e63244efc2759393ecb3f8a417efb78d,4,empty,empty,2018-01-24,2018-01-26 21:33:20
80625,8efe135fb3499da86f94c13e7d72948d,ae4db4c8bea553ad40e0d84be24d635b,5,empty,muito bom!!!,2017-11-30,2017-11-30 20:25:44
71902,de00526e993007f881d40042ef966e2e,a3d6f1c32e941d70a3261b7080854aa2,5,empty,"O prazo de entrega é um pouco longo, tirando i...",2018-02-09,2018-02-09 16:00:54

In [60]:
empty_samples_title = order_reviews_df[
    order_reviews_df["review_comment_title"] == "empty"
]
empty_samples_message = order_reviews_df[
    order_reviews_df["review_comment_message"] == "empty"
]

print(
    f"'empty' values in review_comment_title or review_comment_message: {empty_samples_title.shape[0]}"
)
print(f"'empty' values in review_comment_message: {empty_samples_message.shape[0]}")

'empty' values in review_comment_title or review_comment_message: 87656
'empty' values in review_comment_message: 58247

In [61]:
order_reviews_df.isna().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

**Insight:**\
*Missing values* pada kolom `review_comment_title` dan `review_comment_message` telah diisi dengan 'empty' untuk mengisi kekosongan data.

#### Membersihkan Tabel `order_items_df`

**FIXING:** Data Types

In [62]:
print(f"Data type [shipping_limit_date]: {order_items_df['shipping_limit_date'].dtype}")

Data type [shipping_limit_date]: object

In [63]:
order_items_df["shipping_limit_date"] = pd.to_datetime(
    order_items_df["shipping_limit_date"]
)

In [64]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

**Insight:**\
Kolom `shipping_limit_date` telah dikonversi ke tipe data *datetime*.\
Kolom `freight_value` tetap menyertakan nilai **0.00** karena munkin saja merepresentasikan *free shipping*.

#### Membersihkan Tabel `geolocation_df`

In [65]:
print("Duplicates in Geolocation dataset:", geolocation_df.duplicated().sum())

Duplicates in Geolocation dataset: 261831

**FIXING:** Duplicates

In [66]:
# Drop duplicates
geolocation_df = geolocation_df.drop_duplicates()
remaining_duplicates_count = geolocation_df.duplicated().sum()

In [67]:
print("Remaining duplicates in Geolocation dataset:", remaining_duplicates_count)

Remaining duplicates in Geolocation dataset: 0

In [68]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 738332 entries, 0 to 1000161
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   geolocation_zip_code_prefix  738332 non-null  int64
 1   geolocation_lat              738332 non-null  float64
 2   geolocation_lng              738332 non-null  float64
 3   geolocation_city             738332 non-null  object
 4   geolocation_state            738332 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 33.8+ MB

**Insight:**\
Sebanyak **261831** baris duplikat telah dihapus.

#### Membersihkan Tabel `orders_df`

**FIXING:** Data Types

In [69]:
columns = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date",
]

print(f"{'Column Name':<35} | {'Data Type':<15}")
print("-" * 55)

for col in columns:
    print(f"{col:<35} | {orders_df[col].dtypes}")

Column Name                         | Data Type
-------------------------------------------------------
order_purchase_timestamp            | object
order_approved_at                   | object
order_delivered_carrier_date        | object
order_delivered_customer_date       | object
order_estimated_delivery_date       | object

In [70]:
print(f"{'Column Name':<35} | {'Data Type':<15}")
print("-" * 55)

for col in columns:
    orders_df[col] = pd.to_datetime(orders_df[col], errors="coerce")
    print(f"{col:<35} | {orders_df[col].dtypes}")

Column Name                         | Data Type
-------------------------------------------------------
order_purchase_timestamp            | datetime64[ns]
order_approved_at                   | datetime64[ns]
order_delivered_carrier_date        | datetime64[ns]
order_delivered_customer_date       | datetime64[ns]
order_estimated_delivery_date       | datetime64[ns]

**Insight:**\
Kolom `order_purchase_timestamp`, `order_approved_at`, `order_delivered_carrier_date`, `order_delivered_customer_date`, dan `order_estimated_delivery_date` telah berhasil dikonversi menjadi tipe data *datetime*.

**FIXING:** Missing Values

In [71]:
print("\nMissing values in Orders dataset:")
orders_df.isna().sum()

Missing values in Orders dataset:

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [72]:
missing_approved_at = orders_df[orders_df["order_approved_at"].isna()]

missing_approved_delivered = missing_approved_at[
    missing_approved_at["order_status"] == "delivered"
]

print("\nSample rows with missing 'order_approved_at' and status 'delivered':")
missing_approved_delivered.sample(3)

Sample rows with missing 'order_approved_at' and status 'delivered':

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
84999,2babbb4b15e6d2dfe95e2de765c97bce,74bebaf46603f9340e3b50c6b086f992,delivered,2017-02-18 17:15:03,NaT,2017-02-22 11:23:11,2017-03-03 18:43:43,2017-03-31
22663,5cf925b116421afa85ee25e99b4c34fb,29c35fc91fc13fb5073c8f30505d860d,delivered,2017-02-18 16:48:35,NaT,2017-02-22 11:23:10,2017-03-09 07:28:47,2017-03-31
63052,51eb2eebd5d76a24625b31c33dd41449,07a2a7e0f63fd8cb757ed77d4245623c,delivered,2017-02-18 15:52:27,NaT,2017-02-23 03:09:14,2017-03-07 13:57:47,2017-03-29

In [73]:
# Calculate the time difference between 'order_purchase_timestamp' and 'order_approved_at' in hours
orders_df["approval_time_diff"] = (
    orders_df["order_approved_at"] - orders_df["order_purchase_timestamp"]
).dt.total_seconds() / 3600
orders_df["approval_time_diff"] = orders_df["approval_time_diff"].round(2)

# Calculate the average approval time
average_approval_time = orders_df["approval_time_diff"].mean()

# Fill missing values in 'order_approved_at' by adding the average approval time to 'order_purchase_timestamp'
orders_df["order_approved_at"] = orders_df["order_approved_at"].fillna(
    orders_df["order_purchase_timestamp"]
    + pd.to_timedelta(average_approval_time, unit="h")
)

# Round 'order_approved_at' to the nearest second
orders_df["order_approved_at"] = orders_df["order_approved_at"].dt.round("s")

orders_df.sample(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,approval_time_diff
23124,d7516b945750658964b64128d3de72de,5add23093af926ef474c767dd401ee6c,delivered,2018-05-14 16:02:39,2018-05-14 16:13:56,2018-05-15 14:37:00,2018-05-16 17:24:34,2018-05-28,0.19
22363,99aeaeb7e702f9008fe9823750689bbd,c0000e87c4c36f4d17c42ba614aa35b4,delivered,2018-03-22 15:52:37,2018-03-22 16:35:46,2018-03-23 23:29:33,2018-03-26 15:19:03,2018-04-04,0.72
67926,9196d3400ed2994d3c08cc053b84c84e,0df0cc2d605e76a1560ce617738b096d,delivered,2018-02-06 16:04:15,2018-02-06 16:15:34,2018-02-07 21:19:44,2018-02-16 16:52:25,2018-03-07,0.19

In [74]:
# Check nan value in 'approval_time_diff' column
print(
    "NaN values in 'approval_time_diff':", orders_df["approval_time_diff"].isna().sum()
)

NaN values in 'approval_time_diff': 160

In [75]:
# Fill missing values in 'approval_time_diff' with the calculated average
average_approval_time = orders_df["approval_time_diff"].mean()
orders_df["approval_time_diff"] = orders_df["approval_time_diff"].fillna(
    average_approval_time
)
orders_df["approval_time_diff"] = orders_df["approval_time_diff"].round(2)

In [76]:
print(
    "NaN values in 'approval_time_diff':", orders_df["approval_time_diff"].isna().sum()
)

NaN values in 'approval_time_diff': 0

In [77]:
print("\nMissing values in Orders dataset:")
orders_df.isna().sum()

Missing values in Orders dataset:

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
approval_time_diff                  0
dtype: int64

**Insight:**\
Terdapat beberapa `order_status` 'delivered' yang mempunyai nilai kosong pada `order_approved_at`.\
Kolom `order_approved_at` yang memiliki nilai kosong telah diisi dengan menghitung rata-rata waktu persetujuan dari pesanan yang sudah memiliki nilai di `order_approved_at` (selisih waktu antara `order_purchase_timestamp` dan `order_approved_at`).\

*NaT* pada kolom `order_delivered_carrier_date` dan `order_delivered_customer_date` tetap, karena disesuaikan dengan keadaan aktual dimana pesanan belum memasuki status pengiriman.

## Exploratory Data Analysis (EDA)

### Eksplorasi Data `orders_df`

In [85]:
orders_df.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,approval_time_diff
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0.18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,30.71
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,0.28

In [86]:
orders_df.info()

print(f"\n(rows, collumns): \t\t{orders_df.shape}")
print(f"nunique of order_id: \t\t{orders_df['order_id'].nunique()}")
print(f"nunique of customer_id: \t{orders_df['customer_id'].nunique()}")
print(f"nunique of order_status: \t{orders_df['order_status'].nunique()}")

print(f"\nNumber of duplicate rows: \t\t{orders_df.duplicated().sum()}")
print(f"Number of duplicate in order_id: \t{orders_df['order_id'].duplicated().sum()}")
print(
    f"Number of duplicate in customer_id: \t{orders_df['customer_id'].duplicated().sum()}"
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99441 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   approval_time_diff             99441 non-null  float64
dtypes: datetime64[ns](5), float64(1), object(3)
memory usage: 6.8+ MB

(rows, collumns): 		(99441, 9)
nunique of order_id: 		99441
nunique of customer_id: 	99441
nunique of order_status: 	8

Number of duplicate rows: 		0
Number of duplicate in order_id: 	0
Number of duplicate in customer_id: 	0

In [140]:
status_counts = orders_df["order_status"].value_counts()
total_orders = status_counts.sum()

status_percentages = (status_counts / total_orders) * 100

pd.DataFrame(
    {
        "Count": status_counts.values,
        "Percentage": status_percentages.round(2).map("{:.2f}%".format),
    }
)

              Count Percentage
order_status
delivered     96478     97.02%
shipped        1107      1.11%
canceled        625      0.63%
unavailable     609      0.61%
invoiced        314      0.32%
processing      301      0.30%
created           5      0.01%
approved          2      0.00%

**Memahami Distribusi `approval_time_diff`**

In [145]:
stats = orders_df["approval_time_diff"].describe().round(2)

pd.DataFrame({"Statistic": stats.index, "Value": stats.values})

  Statistic     Value
0     count  99441.00
1      mean     10.42
2       std     26.02
3       min      0.00
4       25%      0.22
5       50%      0.34
6       75%     14.54
7       max   4509.18

In [89]:
delivered_status_df = orders_df[orders_df["order_status"] == "delivered"].sort_values(
    "approval_time_diff", ascending=False
)

delivered_status_df[["order_id", "order_status", "approval_time_diff"]]

                               order_id order_status  approval_time_diff
96251  0a93b40850d3f4becf2f276666e01340    delivered              741.44
55708  f7923db0430587601c2aef15ec4b8af4    delivered              738.45
88671  de0076b42a023f53b398ce9ab0d9009c    delivered              554.78
71651  daed0f3aefd193de33c31e21b16a3b3a    delivered              404.23
73881  9c038e10f14d12a96939a0176c4ecc99    delivered              319.53
...                                 ...          ...                 ...
90080  8c006b6688741e47144a6f79f96e225d    delivered                0.00
35078  898ded7ecb1e4d92997856bd8b7a8aa1    delivered                0.00
78152  dd13617f642718bd4cdc450d197960f9    delivered                0.00
35091  2dc3f680b2788d38f7162482b575e41a    delivered                0.00
55171  380bf78bcf690a6955b8f1de575e26ba    delivered                0.00

[96478 rows x 3 columns]

In [90]:
bins = [
    -float("inf"),  # Less than or equal to 0
    0,  # 0 hours
    24,  # 1 day
    48,  # 2 days
    72,  # 3 days
    96,  # 4 days
    168,  # 7 days
    336,  # 14 days
    504,  # 21 days
    720,  # 30 days
    float("inf"),  # More than 30 days
]

labels = [
    "diff <= 0",
    "0 < diff <= 24",
    "24 < diff <= 48",
    "48 < diff <= 72",
    "72 < diff <= 96",
    "96 < diff <= 168",  # 4 < diff <= 7 days
    "168 < diff <= 336",  # 7 < diff <= 14 days
    "336 < diff <= 504",  # 14 < diff <= 21 days
    "504 < diff <= 720",  # 21 < diff <= 30 days
    "diff > 720",  # > 30 days
]

output_df = (
    delivered_status_df["approval_time_diff"]
    .pipe(pd.cut, bins=bins, labels=labels, right=True)
    .value_counts()
    .reindex(labels, fill_value=0)
    .to_frame(name="Count")
    .assign(
        Percentage=lambda df: (df["Count"] / df["Count"].sum() * 100)
        .round(3)
        .map("{:.3f}%".format)
    )
    .reset_index()
    .rename(columns={"index": "Time Range (hours)"})
)

print("\nDistribution of Delivered Orders by Approval Time")
print("-" * 70)
print(output_df.to_string(index=False))
print("-" * 70)
print(f"Total delivered orders: {output_df['Count'].sum()}")

Distribution of Delivered Orders by Approval Time
----------------------------------------------------------------------
approval_time_diff  Count Percentage
         diff <= 0   1244     1.289%
    0 < diff <= 24  78386    81.248%
   24 < diff <= 48  11872    12.305%
   48 < diff <= 72   2798     2.900%
   72 < diff <= 96   1453     1.506%
  96 < diff <= 168    657     0.681%
 168 < diff <= 336     64     0.066%
 336 < diff <= 504      1     0.001%
 504 < diff <= 720      1     0.001%
        diff > 720      2     0.002%
----------------------------------------------------------------------
Total delivered orders: 96478

In [91]:
canceled_status_df = orders_df[orders_df["order_status"] == "canceled"].sort_values(
    "approval_time_diff", ascending=False
)

canceled_status_df[["order_id", "order_status", "approval_time_diff"]]

                               order_id order_status  approval_time_diff
4396   e5fa5a7210941f7d56d0208e4e071d35     canceled              781.03
53475  490291524fddde2b31c2e6bec3d9e6da     canceled              676.07
10071  809a282bbd5dbcabb6f2f724fca862ec     canceled              573.87
40076  7fd4b0e047195ca197c3660772a8d8c0     canceled              248.28
62406  123e27a1a4d0b2481d8618ac3dff7d4e     canceled              242.58
...                                 ...          ...                 ...
71603  b17fd4c033b06e8d888de8ea6105ef9d     canceled                0.00
67963  5b9680f27b5067afded00b23f9cb4d61     canceled                0.00
28846  9abe82df39e950e1e0c1a5969e22571e     canceled                0.00
28455  d01c5b46e00bd214519fe9f64bbb2649     canceled                0.00
80797  983e16bfbe23e60f23a6fcb9c4792204     canceled                0.00

[625 rows x 3 columns]

In [92]:
output_df = (
    canceled_status_df["approval_time_diff"]
    .pipe(pd.cut, bins=bins, labels=labels, right=True)
    .value_counts()
    .reindex(labels, fill_value=0)
    .to_frame(name="Count")
    .assign(
        Percentage=lambda df: (df["Count"] / df["Count"].sum() * 100)
        .round(2)
        .map("{:.2f}%".format)
    )
    .reset_index()
    .rename(columns={"index": "Time Range"})
)

print("\nDistribution of Canceled Orders by Approval Time")
print("-" * 60)
print(output_df.to_string(index=False))
print("-" * 60)
print(f"Total canceled orders: {output_df['Count'].sum()}")

Distribution of Canceled Orders by Approval Time
------------------------------------------------------------
approval_time_diff  Count Percentage
         diff <= 0     18      2.88%
    0 < diff <= 24    525     84.00%
   24 < diff <= 48     56      8.96%
   48 < diff <= 72     10      1.60%
   72 < diff <= 96      8      1.28%
  96 < diff <= 168      1      0.16%
 168 < diff <= 336      4      0.64%
 336 < diff <= 504      0      0.00%
 504 < diff <= 720      2      0.32%
        diff > 720      1      0.16%
------------------------------------------------------------
Total canceled orders: 625

**Insight:**
1. Rata-rata lama persetujuan pesanan adalah sekitar **10** jam.
1. **Pesanan yang dibatalkan cenderung disetujui lebih cepat**
    - Berdasarkan `approval_time_diff`:
        - `canceled`: **84.00%** disetujui dalam 24 jam pertama
        - `delivered`: **81.25%** disetujui dalam 24 jam pertama
    - Terindikasi bahwa **kecepatan persetujuan bukan faktor utama pembatalan pesanan oleh pelanggan.**
2. Data ini menunjukkan bahwa pembeli tidak membatalkan pesanan karena terlalu lama persetujuan.

### Eksplorasi Data `order_reviews_df`

In [93]:
order_reviews_df.sample(5).T

,95323,69492,49300,26517,36783
review_id,b96fa76fbf37ae6e958cd079e2631076,70678fb29fe6b6dbfc67a1ef9ce3e81c,c0415aaa5961be1afb2ac44b1aba62a9,d768c305b69f318a801e95856bd1cc92,c954719ee9713949803a78dc30c95329
order_id,ebdfc2a2bfba1c888ea6011aec355151,62d9ca533d6de05e39164160d128e37c,c7542d0d83ead101b058770578cc04c3,c83b1508d1ce87e8c380ee3209720f81,5e2488af524e8aeb633062a365974141
review_score,3,4,5,5,5
review_comment_title,empty,empty,ÓTIMO,empty,empty
review_comment_message,"Só recebi a cortina, as prateleiras ainda não.",Recebi o produto dentro do prazo.,Rápido no envio,empty,"Chegou bem antes do prazo, ótimo produto"
review_creation_date,2017-09-22 00:00:00,2018-02-28 00:00:00,2018-08-07 00:00:00,2018-06-07 00:00:00,2017-05-18 00:00:00
review_answer_timestamp,2017-09-25 18:33:37,2018-02-28 09:53:49,2018-08-08 11:24:47,2018-06-16 00:01:44,2017-05-19 01:32:16

In [94]:
order_reviews_df.describe(include="all").T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
review_id,99224,98410,7b606b0d57b078384f0b58eac1d41d78,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_id,99224,98673,c88b1d1b157a9999ce368f218a407141,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_score,99224.0,NaN,NaN,NaN,4.086421,1.0,4.0,5.0,5.0,5.0,1.347579
review_comment_title,99224,4528,empty,87656,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_comment_message,99224,36160,empty,58247,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_creation_date,99224,NaN,NaN,NaN,2018-01-12 20:49:23.948238336,2016-10-02 00:00:00,2017-09-23 00:00:00,2018-02-02 00:00:00,2018-05-16 00:00:00,2018-08-31 00:00:00,NaN
review_answer_timestamp,99224,NaN,NaN,NaN,2018-01-16 00:23:56.977938688,2016-10-07 18:32:28,2017-09-27 01:53:27.249999872,2018-02-04 22:41:47.500000,2018-05-20 12:11:21.500000,2018-10-29 12:27:35,NaN

In [146]:
review_counts = order_reviews_df["review_score"].value_counts().sort_index()
total_reviews = review_counts.sum()

pd.DataFrame(
    {
        "Review Score": review_counts.index,  # Kolom untuk skor review
        "Count": review_counts.values,  # Kolom untuk jumlah review per skor
        "Percentage": (review_counts / total_reviews * 100)
        .round(2)
        .map("{:.2f}%".format),  # Kolom persentase
    }
)

              Review Score  Count Percentage
review_score
1                        1  11424     11.51%
2                        2   3151      3.18%
3                        3   8179      8.24%
4                        4  19142     19.29%
5                        5  57328     57.78%

### Eksplorasi Data `orders_df` dan `order_reviews_df`

In [96]:
order_orders_reviews_df = pd.merge(
    # orders_df, order_reviews_df, on="order_id", how="left", suffixes=("", "_reviews")
    orders_df,
    order_reviews_df,
    on="order_id",
    how="inner",
)

order_orders_reviews_df["review_score"] = order_orders_reviews_df[
    "review_score"
].astype("Int64")

In [97]:
order_orders_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99224 non-null  object
 1   customer_id                    99224 non-null  object
 2   order_status                   99224 non-null  object
 3   order_purchase_timestamp       99224 non-null  datetime64[ns]
 4   order_approved_at              99224 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97468 non-null  datetime64[ns]
 6   order_delivered_customer_date  96359 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99224 non-null  datetime64[ns]
 8   approval_time_diff             99224 non-null  float64
 9   review_id                      99224 non-null  object
 10  review_score                   99224 non-null  Int64
 11  review_comment_title           99224 non-null  object
 12  review_comment_message         99224 non-null  object
 13  review_creation_date           99224 non-null  datetime64[ns]
 14  review_answer_timestamp        99224 non-null  datetime64[ns]
dtypes: Int64(1), datetime64[ns](7), float64(1), object(6)
memory usage: 11.5+ MB

In [98]:
order_orders_reviews_df.sample(5).T

,30082,11537,93788,83711,7848
order_id,4c38dc6e460b5c6de2b1acf65e646cdd,a81ac812819d3c3e98ff62b3a8e4e75d,3953deef7b2a9104cefd114e1219bd9c,fbd5e05472d96478065c44184440fe42,1a21e73a0315ba67c5e45cbcd1abd95d
customer_id,31bc2ab4be7965c0d6c9c1852ad9875a,37e7c79dd2b11c3d0fdc8fd3b4981bf8,aec85558896424034ea880e902abbfbd,4e34fbf90d1ee5a1c45a85287186b7bc,b6debdaf65d20e037db74e2d1c66e22b
order_status,delivered,delivered,delivered,delivered,delivered
order_purchase_timestamp,2018-04-06 14:59:25,2017-11-23 06:34:25,2018-01-10 22:19:44,2018-05-08 17:09:47,2018-03-29 14:24:24
order_approved_at,2018-04-07 02:47:56,2017-11-23 06:47:27,2018-01-10 22:31:31,2018-05-08 17:35:05,2018-03-29 14:35:14
order_delivered_carrier_date,2018-04-11 10:52:27,2017-12-27 09:31:46,2018-01-11 19:24:40,2018-05-09 11:18:00,2018-04-03 00:38:38
order_delivered_customer_date,2018-04-14 11:39:25,2017-12-27 16:18:37,2018-02-04 20:25:26,2018-05-16 12:36:55,2018-04-14 12:58:32
order_estimated_delivery_date,2018-04-25 00:00:00,2017-12-05 00:00:00,2018-02-09 00:00:00,2018-05-29 00:00:00,2018-04-24 00:00:00
approval_time_diff,11.81,0.22,0.2,0.42,0.18
review_id,cca9feb17a809d65885d0884617f132d,ff79814df61a4031ac97b19c201d7817,2f99bbef9cb6dd181b7dd7fe0cbb6c0a,c1299d2b35c5c03c02378f034d1d0d89,738767060de23c3716e4400599adbf92
review_score,1,1,5,4,4
review_comment_title,empty,empty,empty,empty,empty
review_comment_message,O produto eh falsificado. Não eh o anunciado. ...,empty,empty,empty,empty
review_creation_date,2018-04-15 00:00:00,2017-12-07 00:00:00,2018-02-05 00:00:00,2018-05-17 00:00:00,2018-04-15 00:00:00
review_answer_timestamp,2018-04-17 21:51:39,2017-12-13 18:14:25,2018-02-08 01:51:56,2018-05-23 22:41:41,2018-04-16 20:02:04

In [99]:
# Creates a dataframe that contains the canceled status
canceled_status_df = order_orders_reviews_df[
    (order_orders_reviews_df["order_status"] == "canceled")
]
canceled_status_df.head().T

,392,608,609,1053,1125
order_id,1b9ecfe83cdc259250e1a8aca174f0ad,714fb133a6730ab81fa1d3c1b2007291,714fb133a6730ab81fa1d3c1b2007291,3a129877493c8189c59c60eb71d97c29,00b1cb0320190ca0daa2c88b35206009
customer_id,6d6b50b66d79f80827b6d96751528d30,e3fe72696c4713d64d3c10afe71e75ed,e3fe72696c4713d64d3c10afe71e75ed,0913cdce793684e52bbfac69d87e91fd,3532ba38a3fd242259a514ac2b6ae6b6
order_status,canceled,canceled,canceled,canceled,canceled
order_purchase_timestamp,2018-08-04 14:29:27,2018-01-26 21:34:08,2018-01-26 21:34:08,2018-01-25 13:34:24,2018-08-28 15:26:39
order_approved_at,2018-08-07 04:10:26,2018-01-26 21:58:39,2018-01-26 21:58:39,2018-01-25 13:50:20,2018-08-29 01:51:48
order_delivered_carrier_date,NaT,2018-01-29 22:33:25,2018-01-29 22:33:25,2018-01-26 21:42:18,NaT
order_delivered_customer_date,NaT,NaT,NaT,NaT,NaT
order_estimated_delivery_date,2018-08-14 00:00:00,2018-02-22 00:00:00,2018-02-22 00:00:00,2018-02-23 00:00:00,2018-09-12 00:00:00
approval_time_diff,61.68,0.41,0.41,0.27,10.42
review_id,14d540de5632307e389e9416086fc978,f242ce44c6572a94907a446b8fda32c8,105facb42b5b9147996f0b1b6fbf7b80,15c8f3b3ff412d0f8d6b72053335fd0b,9c0d840dfe562debfa52a1792bd64bff
review_score,1,1,1,1,1
review_comment_title,empty,empty,empty,empty,Entregaram produto errado
review_comment_message,empty,Olá!\r\nMinha queixa é a não entrega na residê...,Holá!\r\nNão recebi o produto é nem um telefon...,Não recebi o produto e também não tive reembolso,Comprei dois fones de ouvido com valor de R$ 5...
review_creation_date,2018-08-17 00:00:00,2018-03-02 00:00:00,2018-02-24 00:00:00,2018-02-25 00:00:00,2018-08-28 00:00:00
review_answer_timestamp,2018-08-19 13:51:01,2018-03-05 01:28:24,2018-02-27 00:13:54,2018-02-25 11:02:38,2018-08-28 18:25:55

In [100]:
# Creates a dataframe that only contains the canceled status and review message
canceled_reviews_df = order_orders_reviews_df[
    (order_orders_reviews_df["order_status"] == "canceled")
    & (order_orders_reviews_df["review_comment_message"] != "empty")
]

colls_df = canceled_reviews_df[
    [
        "order_id",
        "order_status",
        "customer_id",
        "review_id",
        "review_score",
        "review_comment_message",
    ]
].sample(5)

colls_df.T

,93472,70044,40316,20877,52027
order_id,5aa551497a6e4522899b4a89a3eeff5f,c80cc9af6bd1c32747e2f79bc4ad031e,9bcddf79e9ba13cbf6c32e0916bd42d7,98e38b5d59b358aaf4d5a08ca9814883,4ed4fa202c468c14366fbf603c8698fd
order_status,canceled,canceled,canceled,canceled,canceled
customer_id,42150c5dc225debc71b6e811e9acc909,f9587fa6065768be96b7267f865a407c,22bc8c03ed4c0ed9269d8afd5c33733f,6060d9a57cf9e44fa54a5034481e458d,8e9100df87f0102df82026f2400af7ed
review_id,e77b4a8af8701f190902592c204edf62,48fcd835a9f588c5ed2175b71528185b,99241e07e2f135e5aadbf34f46398b27,2888bde044ad292a3351b4cee17bab0c,208c562073a7fba0e6d10e8296cf3b1d
review_score,1,1,1,3,1
review_comment_message,LIVRO FICA 2X MAIS DO VALOR VENDIDO PELO AUTOR...,A compra foi cancelada sem eu ter solicitado!,Trata-se presente p/criança. Questionei por e-...,Ainda não recebi o produto,A EMPRESA NÃO ENTREGOU MEU PRODUTO. ESPEROU PA...

In [101]:
canceled_reviews_translated_df = canceled_reviews_df.copy()

# Translate the entire review column to English
canceled_reviews_translated_df[
    "review_comment_message"
] = canceled_reviews_translated_df["review_comment_message"].apply(
    lambda x: (
        GoogleTranslator(source="pt", target="en").translate(x) if pd.notna(x) else ""
    )
)

translated_df = canceled_reviews_translated_df[
    [
        "order_id",
        "order_status",
        "customer_id",
        "review_id",
        "review_score",
        "review_comment_message",
    ]
]

pd.set_option("display.max_colwidth", None)

translated_df.head().T

,608,609,1053,1125,1799
order_id,714fb133a6730ab81fa1d3c1b2007291,714fb133a6730ab81fa1d3c1b2007291,3a129877493c8189c59c60eb71d97c29,00b1cb0320190ca0daa2c88b35206009,ed3efbd3a87bea76c2812c66a0b32219
order_status,canceled,canceled,canceled,canceled,canceled
customer_id,e3fe72696c4713d64d3c10afe71e75ed,e3fe72696c4713d64d3c10afe71e75ed,0913cdce793684e52bbfac69d87e91fd,3532ba38a3fd242259a514ac2b6ae6b6,191984a8ba4cbb2145acb4fe35b69664
review_id,f242ce44c6572a94907a446b8fda32c8,105facb42b5b9147996f0b1b6fbf7b80,15c8f3b3ff412d0f8d6b72053335fd0b,9c0d840dfe562debfa52a1792bd64bff,6e4344680dbd30c75f78394e0dcfffdf
review_score,1,1,1,1,2
review_comment_message,"Hello!\nMy complaint is that the product was not delivered to my home. I had to pick it up at the post office. I have a product that was returned, and I still don't know what to do. Maybe a phone call would help.",Hello!\nI have not received the product or even a phone call regarding what I purchased.,I didn't receive the product and I didn't get a refund either.,I bought two headphones worth R$50.32 and they delivered the iPhone cable worth R$10.,"The product arrived defective, it does not turn on or work, I want to exchange it"

In [150]:
# Preprocessing
def preprocess_text(text):
    text = text.lower()
    text = re.sub(r"[^a-z\s]", "", text)
    return text


translated_df.loc[:, "cleaned_review"] = (
    translated_df["review_comment_message"].fillna("").apply(preprocess_text)
)

# Frequency analysis of words in canceled reviews
word_freq = Counter(" ".join(translated_df["cleaned_review"]).split())

# print("Top 20 Frequent Words in Canceled Reviews:")
# print(word_freq.most_common(20))


# Manual categorization based on English keywords
def categorize_review(text):
    categories = {
        "Shipping Issue": [
            "ship",
            "delay",
            "send",
            "courier",
            "package",
            "deliver",
            "arrive",
            "receive",
            "expedition",
            "transport",
            "wait",
            "late",
            "come",
            "came",
            "slow",
        ],
        "Product Quality Issue": [
            "quality",
            "broken",
            "damaged",
            "defect",
            "different",
            "not working",
            "fake",
            "destroyed",
            "not functioning",
            "poor",
            "does not match",
            "like",
        ],
        "Customer Service Issue": [
            "service",
            "trust",
            "reliable",
            "invoice",
            "call",
            "error",
            "solve",
            "contact",
            "seller",
            "response",
            "customer",
            "ignore",
            "answer",
            "help",
            "support",
            "notified",
        ],
        "Stock Issue": [
            "stock",
            "unavailable",
            "empty",
            "not available",
        ],
        "App/Website Issue": [
            "app",
            "website",
            "error",
            "bug",
            "crash",
            "glitch",
        ],
        "Return/Refund Issue": [
            "return",
            "refund",
            "exchange",
            "replace",
            "money back",
            "send back",
            "exchange",
            "compensation",
        ],
        "Seller Cancellation": [
            "cancel",
            "void",
        ],
        "Positive Comment": [
            "good",
            "satisfied",
            "happy",
            "great",
            "awesome",
            "excellent",
            "ok",
            "nice",
            "wonderful",
            "amazing",
            "love",
            "easy",
            "delight",
        ],
    }

    for category, keywords in categories.items():
        if any(word in text for word in keywords):
            return category
    return "Other"


# Categorize each review in `translated_df`
translated_df.loc[:, "Category"] = translated_df["cleaned_review"].apply(
    categorize_review
)

# Calculate the number of reviews per category and sort by count
category_counts = Counter(translated_df["Category"])
sorted_categories = sorted(category_counts.items(), key=lambda x: x[1], reverse=True)

# Calculate total number of reviews for percentage calculation
total_reviews = sum(category_counts.values())

print("\nCanceled Review Category Counts")
print("-" * 55)
print(f"{'Category':<25} | {'Count':>10} | {'Percentage':>12}")
print("-" * 55)
for category, count in sorted_categories:
    percentage = (count / total_reviews) * 100
    print(f"{category:<25} | {count:>10} | {percentage:>11.2f}%")
print("-" * 55)
print(f"Total Reviews: {total_reviews}")


# # Random review samples per category (show 5 random examples per category)
# print("\nRandom Samples of Reviews per Category (Sorted by Frequency):")
# for category, count in sorted_categories:
#     print(f"\nCategory: {category} (Total: {count})")
#     category_reviews = translated_df[translated_df["Category"] == category][
#         "review_comment_message"
#     ].tolist()
#     examples = random.sample(category_reviews, min(10, len(category_reviews)))

#     for i, example in enumerate(examples, 1):
#         print(f"{i}. {example}")

# # Keyword analysis per category
# print("\nTop 10 words per category (Sorted by Category Frequency):")
# for category, _ in sorted_categories:
#     category_text = " ".join(translated_df[translated_df["Category"] == category]["cleaned_review"])
#     category_word_freq = Counter(category_text.split())
#     print(f"\n{category}:")
#     print(category_word_freq.most_common(10))

Canceled Review Category Counts
-------------------------------------------------------
Category                  |      Count |   Percentage
-------------------------------------------------------
Shipping Issue            |        292 |       71.92%
Customer Service Issue    |         35 |        8.62%
Other                     |         22 |        5.42%
Product Quality Issue     |         15 |        3.69%
Positive Comment          |         12 |        2.96%
Seller Cancellation       |         11 |        2.71%
Stock Issue               |          9 |        2.22%
Return/Refund Issue       |          8 |        1.97%
App/Website Issue         |          2 |        0.49%
-------------------------------------------------------
Total Reviews: 406

**Insight:**\
Alasan utama pembatalan pesanan dapat terlihat di sini, di mana sekitar **72%** pembatalan terjadi karena masalah pengiriman.\
Di sisi lain, pembatalan yang diikuti dengan ulasan positif dan menunjukkan kepuasan pelanggan terhadap produk kemungkinan disebabkan oleh kesalahan manusia (human error) atau kesalahan sistem (system error).

### Eksplorasi Data `order_items_df`

In [103]:
print(order_items_df.info())

print(f"\nnunique of order_id: \t\t{order_items_df['order_id'].nunique()}")
print(f"nunique of product_id: \t\t{order_items_df['product_id'].nunique()}")
print(f"nunique of seller_id: \t\t{order_items_df['seller_id'].nunique()}")

print(f"\nNumber of duplicate rows: \t{order_items_df.duplicated().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB
None

nunique of order_id: 		98666
nunique of product_id: 		32951
nunique of seller_id: 		3095

Number of duplicate rows: 	0

In [104]:
merged_items_reviews_df = pd.merge(
    order_reviews_df, order_items_df, on="order_id", how="left"
)

selected_colls = merged_items_reviews_df[
    [
        "order_id",
        "review_id",
        "review_score",
        "order_item_id",
        "seller_id",
        "product_id",
    ]
]

multi_item_orders = selected_colls.groupby("order_id").filter(
    lambda x: x["product_id"].nunique() > 1
)

multi_item_orders.head(6)

,order_id,review_id,review_score,order_item_id,seller_id,product_id
6,b18dcdf73be66366873cd26c5724d1dc,15197aa66ff4d0650b5434f1b46cda19,1,1.0,da8622b14eb17ae2831f4ac5b9dab84a,c45d02cc82cd779835094de9b29272cb
7,b18dcdf73be66366873cd26c5724d1dc,15197aa66ff4d0650b5434f1b46cda19,1,2.0,da8622b14eb17ae2831f4ac5b9dab84a,c45d02cc82cd779835094de9b29272cb
8,b18dcdf73be66366873cd26c5724d1dc,15197aa66ff4d0650b5434f1b46cda19,1,3.0,41ab63a91b8b264e8c8780368bf1dd5b,4e3550b4ebca5e32ccc3d32b3470e31f
9,b18dcdf73be66366873cd26c5724d1dc,15197aa66ff4d0650b5434f1b46cda19,1,4.0,da8622b14eb17ae2831f4ac5b9dab84a,c45d02cc82cd779835094de9b29272cb
22,d7bd0e4afdf94846eb73642b4e3e75c3,9a0abbb668bafb95a6d2b05db43284c4,3,1.0,f8db351d8c4c4c22c6835c19a46f01b0,def59eb2e17b32b980b5341984f6b500
23,d7bd0e4afdf94846eb73642b4e3e75c3,9a0abbb668bafb95a6d2b05db43284c4,3,2.0,f8db351d8c4c4c22c6835c19a46f01b0,f3dadecca4b876a315481c79b8adcf16

**Insight:**
1. `multi_item_order`:
    - `order_id` <span style="color:orange">b18dcdf73be66366873cd26c5724d1dc</span> memiliki beberapa item yang berbeda (`order_item_id` 1, 2, 3, dan 4). Semua item ini terkait dengan satu ulasan (berdasarkan `review_id`), dan pelanggan memberikan skor **1** untuk keseluruhan pesanan.
    - `order_id` <span style="color:orange">d7bd0e4afdf94846eb73642b4e3e75c3</span> juga memuat lebih dari satu item, dan pelanggan memberikan skor **3**.
2. Ini memberikan gambaran jelas bahwa dalam beberapa kasus, satu `order_id` memang dapat berisi beberapa produk (berdasarkan `product_id`). Namun, ulasan diberikan satu kali untuk pesanan tersebut (berdasarkan `order_id` dan `review_id`), meskipun pesanan tersebut terdiri dari beberapa produk (berdasarkan `order_item_id`).

### Eksplorasi Data `products_df`

In [78]:
products_df.info()

print(f"\n(rows, collumns): \t\t\t{products_df.shape}")
print(f"nunique of product_id: \t\t\t{products_df['product_id'].nunique()}")
print(
    f"nunique of product_category_name: \t{products_df['product_category_name'].nunique()}"
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32951 non-null  object
 2   product_name_lenght         32951 non-null  float64
 3   product_description_lenght  32951 non-null  float64
 4   product_photos_qty          32951 non-null  float64
 5   product_weight_g            32951 non-null  float64
 6   product_length_cm           32951 non-null  float64
 7   product_height_cm           32951 non-null  float64
 8   product_width_cm            32951 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

(rows, collumns): 			(32951, 9)
nunique of product_id: 			32951
nunique of product_category_name: 	74

In [79]:
products_df[["product_id", "product_category_name"]].head()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

**Menerjemahkan `product_category_name`**

In [80]:
category_translation = product_category_translation_df.set_index(
    "product_category_name"
)["product_category_name_english"]

products_df["product_category_name"] = (
    products_df["product_category_name"]
    .map(category_translation)
    .fillna(products_df["product_category_name"])
)

products_df[["product_id", "product_category_name"]].head()

                         product_id product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumery
1  3aa071139cb16b67ca9e5dea641aaa2f                   art
2  96bd76ec8810374ed1b65e291975717f        sports_leisure
3  cef67bcfe19066a932b7673e239eb23d                  baby
4  9dc1a7de274444849c219cff195d0b71            housewares

In [165]:
category_counts = products_df["product_category_name"].value_counts()
total_categories = len(category_counts)

percentages = (
    (category_counts.head() / category_counts.head().sum() * 100)
    .round(2)
    .map("{:.2f}%".format)
)

pd.DataFrame(
    {"Count": category_counts.head().values, "Percentage": percentages},
    index=category_counts.head().index,
)

                       Count Percentage
product_category_name
bed_bath_table          3029     22.72%
sports_leisure          2867     21.50%
furniture_decor         2657     19.93%
health_beauty           2444     18.33%
housewares              2335     17.51%

In [163]:
category_counts = products_df["product_category_name"].value_counts()
total_categories = len(category_counts)

rarest_categories = category_counts.tail().sort_values()

percentages = (
    (rarest_categories / category_counts.sum() * 100).round(2).map("{:.2f}%".format)
)

pd.DataFrame(
    {
        # "Category": rarest_categories.index,
        "Count": rarest_categories.values,
        "Percentage": percentages,
    }
)

                           Count Percentage
product_category_name
cds_dvds_musicals              1      0.00%
security_and_services          2      0.01%
pc_gamer                       3      0.01%
fashion_childrens_clothes      5      0.02%
home_comfort_2                 5      0.02%

In [83]:
unknown_type = products_df[products_df["product_category_name"] == "unknown"]
print(f"Number of products with 'unknown' category: {unknown_type.shape[0]} \n")

unknown_type[["product_id", "product_category_name"]].head()

Number of products with 'unknown' category: 610

                           product_id product_category_name
105  a41e356c76fab66334f36de622ecbd3a               unknown
128  d8dee61c2034d6d075997acef1870e9b               unknown
145  56139431d72cd51f19eb9f7dae4d1617               unknown
154  46b48281eb6d663ced748f324108c733               unknown
197  5fb61f482620cb672f5e586bb132eae9               unknown

In [84]:
products_df.describe().round(2)

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32951.00,32951.00,32951.00,32951.00,32951.00,32951.00,32951.00
mean,48.48,771.50,2.19,2276.67,30.82,16.94,23.20
std,10.15,629.21,1.72,4281.86,16.91,13.64,12.08
min,5.00,4.00,1.00,2.00,7.00,2.00,6.00
25%,42.00,344.00,1.00,300.00,18.00,8.00,15.00
50%,51.00,604.00,1.00,700.00,25.00,13.00,20.00
75%,57.00,961.00,3.00,1900.00,38.00,21.00,30.00
max,76.00,3992.00,20.00,40425.00,105.00,105.00,118.00

**Insight:**
1. **Banyak jenis produk berdasarkan kategori produk:**
    - Kategori produk yang memiliki varian produk terbanyak adalah *bed_bath_table*.
    - Kategori produk yang memiliki varian produk paling sedikit adalah *cds_dvds_musicals*.
2. `product_name_lenght`
    - Panjang nama produk bervariasi antara **5** hingga **76** karakter dengan rata-rata panjang sebesar **48.48** karakter. 
    - Hal ini menunjukkan bahwa rata-rata nama produk relatif singkat dan deskriptif.
3. `product_description_lenght`
    - Panjang deskripsi produk berkisar dari **4** hingga **3992** karakter, dengan rata-rata deskripsi sebesar **771.5** karakter. 
    - Ini menunjukkan bahwa sebagian besar produk memiliki deskripsi yang cukup detail, namun ada beberapa produk dengan deskripsi yang sangat singkat.
4. `product_photos_qty`
    - Setiap produk memiliki antara **1** hingga **20** foto, dengan rata-rata jumlah foto sebesar **2.19**. 
    - Ini menunjukkan bahwa sebagian besar produk didokumentasikan dengan baik menggunakan setidaknya satu foto, namun ada juga yang memiliki lebih banyak foto untuk mendukung promosi produk.

### Eksplorasi Data `order_items_df` dan `products_df`

In [105]:
order_items_products_df = pd.merge(
    order_items_df, products_df, on="product_id", how="left"
)

order_items_products_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,59.0,409.0,1.0,3750.0,35.0,40.0,30.0

In [106]:
order_items_products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_id                    112650 non-null  object
 1   order_item_id               112650 non-null  int64
 2   product_id                  112650 non-null  object
 3   seller_id                   112650 non-null  object
 4   shipping_limit_date         112650 non-null  datetime64[ns]
 5   price                       112650 non-null  float64
 6   freight_value               112650 non-null  float64
 7   product_category_name       112650 non-null  object
 8   product_name_lenght         112650 non-null  float64
 9   product_description_lenght  112650 non-null  float64
 10  product_photos_qty          112650 non-null  float64
 11  product_weight_g            112650 non-null  float64
 12  product_length_cm           112650 non-null  float64
 13  product_height_cm           112650 non-null  float64
 14  product_width_cm            112650 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(4)
memory usage: 12.9+ MB

In [174]:
category_counts = order_items_products_df["product_category_name"].value_counts(
    ascending=False
)
total_products = len(order_items_products_df)

percentages = (category_counts / total_products * 100).round(3).map("{:.3f}%".format)

pd.DataFrame(
    {
        # "Category": category_counts.index,
        "Count": category_counts.values,
        "Percentage": percentages,
    }
)

                           Count Percentage
product_category_name
bed_bath_table             11115     9.867%
health_beauty               9670     8.584%
sports_leisure              8641     7.671%
furniture_decor             8334     7.398%
computers_accessories       7827     6.948%
...                          ...        ...
cds_dvds_musicals             14     0.012%
la_cuisine                    14     0.012%
pc_gamer                       9     0.008%
fashion_childrens_clothes      8     0.007%
security_and_services          2     0.002%

[74 rows x 2 columns]

**Insight:**\
Jumlah pembelian berdasarkan kategori produk:
- `bed_bath_table` merupakan kategori dengan jumlah pembelian tertinggi, mencakup **9,87%** dari total pembelian semua kategori.
- Sebaliknya, `security_and_services` adalah kategori dengan jumlah pembelian terendah, hanya sebesar **0,002%** dari total pembelian.

### Eksplorasi Data `order_items_products_df` dan `orders_order_reviews_df`

In [187]:
oor_oip_df = pd.merge(
    order_items_products_df,
    order_orders_reviews_df,
    on="order_id",
    how="inner",
)

oor_oip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112372 entries, 0 to 112371
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112372 non-null  object
 1   order_item_id                  112372 non-null  int64
 2   product_id                     112372 non-null  object
 3   seller_id                      112372 non-null  object
 4   shipping_limit_date            112372 non-null  datetime64[ns]
 5   price                          112372 non-null  float64
 6   freight_value                  112372 non-null  float64
 7   product_category_name          112372 non-null  object
 8   product_name_lenght            112372 non-null  float64
 9   product_description_lenght     112372 non-null  float64
 10  product_photos_qty             112372 non-null  float64
 11  product_weight_g               112372 non-null  float64
 12  product_length_cm              112372 non-null  float64
 13  product_height_cm              112372 non-null  float64
 14  product_width_cm               112372 non-null  float64
 15  customer_id                    112372 non-null  object
 16  order_status                   112372 non-null  object
 17  order_purchase_timestamp       112372 non-null  datetime64[ns]
 18  order_approved_at              112372 non-null  datetime64[ns]
 19  order_delivered_carrier_date   111188 non-null  datetime64[ns]
 20  order_delivered_customer_date  110012 non-null  datetime64[ns]
 21  order_estimated_delivery_date  112372 non-null  datetime64[ns]
 22  approval_time_diff             112372 non-null  float64
 23  review_id                      112372 non-null  object
 24  review_score                   112372 non-null  Int64
 25  review_comment_title           112372 non-null  object
 26  review_comment_message         112372 non-null  object
 27  review_creation_date           112372 non-null  datetime64[ns]
 28  review_answer_timestamp        112372 non-null  datetime64[ns]
dtypes: Int64(1), datetime64[ns](8), float64(10), int64(1), object(9)
memory usage: 25.0+ MB

In [208]:
category_counts = oor_oip_df.groupby("product_category_name")["review_id"].count()
category_ratings = oor_oip_df.groupby("product_category_name")["review_score"].mean()

total_reviews = category_counts.sum()
category_percentages = (category_counts / total_reviews * 100).round(2)

sorted_categories = category_counts.sort_values(ascending=False)

category_reviews_df = pd.DataFrame(
    {
        "Review Count": sorted_categories.values,
        "Average Rating": category_ratings[sorted_categories.index].values.round(2),
        "Percentage": category_percentages[sorted_categories.index].map(
            "{:.2f}%".format
        ),
    },
    index=sorted_categories.index,
)
category_reviews_df

                           Review Count  Average Rating Percentage
product_category_name
bed_bath_table                    11137             3.9      9.91%
health_beauty                      9645            4.14      8.58%
sports_leisure                     8640            4.11      7.69%
furniture_decor                    8331             3.9      7.41%
computers_accessories              7849            3.93      6.98%
...                                 ...             ...        ...
cds_dvds_musicals                    14            4.64      0.01%
la_cuisine                           13             4.0      0.01%
pc_gamer                              9            3.33      0.01%
fashion_childrens_clothes             8             4.5      0.01%
security_and_services                 2             2.5      0.00%

[74 rows x 3 columns]

Dalam menentukan **Best Seller** berdasarkan 5 produk terlaris, kita bisa menerapkan pendekatan *Bayesian Average Rating*. Metode ini memanfaatkan rumus Bayes untuk mengkalkulasi peringkat yang lebih berimbang. Penghitungannya mempertimbangkan beberapa faktor: banyaknya ulasan per produk, nilai rata-rata tiap produk, serta rata-rata penilaian secara menyeluruh.\
Keunggulan metode ini terletak pada kemampuannya memberikan penilaian yang lebih tepat, terutama untuk produk-produk dengan jumlah ulasan yang relatif sedikit. Dengan demikian, kita bisa mendapatkan gambaran yang lebih akurat tentang kualitas dan popularitas produk, tanpa terlalu dipengaruhi oleh perbedaan jumlah ulasan antar produk.

$$
\text{Bayesian Average Rating} = \frac{v \cdot R + m \cdot C}{v + m}
$$

Dimana:\
***v*** = Number of reviews for the product\
***R*** = Average rating of the product\
***C*** = Overall average rating across all products\
***m*** = Minimum number of reviews required for a product to be considered

In [229]:
# Calculate the overall average rating (C)
C = category_reviews_df["Average Rating"].mean()

# Determine the minimum reviews threshold (m)
m = category_reviews_df["Review Count"].quantile(
    0.75
)  # Using the 75th percentile as the threshold

# Calculate the Bayesian value for each product
top_5_products = category_reviews_df.head(5).index.tolist()
bayesian_ratings = (
    (
        category_reviews_df.loc[top_5_products, "Review Count"]
        * category_reviews_df.loc[top_5_products, "Average Rating"]
        + m * C
    )
    / (category_reviews_df.loc[top_5_products, "Review Count"] + m)
).round(2)

pd.DataFrame(
    {
        # "product_category_name": top_5_products,
        "Review Count": category_reviews_df.loc[top_5_products, "Review Count"],
        # "Average Rating": category_reviews_df.loc[top_5_products, "Average Rating"],
        # "Percentage": category_reviews_df.loc[top_5_products, "Percentage"],
        "Bayesian Average Rating": bayesian_ratings,
    }
).sort_values(by="Bayesian Average Rating", ascending=False)

                       Review Count  Bayesian Average Rating
product_category_name
health_beauty                  9645                     4.12
sports_leisure                 8640                      4.1
computers_accessories          7849                     3.95
bed_bath_table                11137                     3.92
furniture_decor                8331                     3.92

**Insight:**\
Kategori produk dengan **ulasan terbanyak** yakni `bed_bath_table` dengan **11.137** ulasan **(mendapat 9,91% dari total ulasan)**. Meskipun memiliki jumlah ulasan tertinggi, rata-rata ratingnya hanya **3,9**.\
Kategori produk dengan **ulasan terendah** yakni `security_and_services` yang hanya mendapat **2** ulasan dengan rata-rata rating **2,5**.

Kategori produk `health_beauty` memiliki *Bayesian Average Rating* tertinggi, yaitu **4,12**. Hal ini menunjukkan bahwa produk di kategori ini paling memuaskan dibandingkan kategori lainnya, meskipun jumlah ulasannya tidak paling tinggi.

### Eksplorasi Data `order_payments_df`

In [110]:
order_payments_df.info()

print(f"\n(rows, collumns): \t\t\t{order_payments_df.shape}")
print(f"nunique of order_id: \t\t\t{order_payments_df['order_id'].nunique()}")
print(f"nunique of payment_type: \t\t{order_payments_df['payment_type'].nunique()}")

print(f"\nNumber of duplicate rows: \t\t{order_payments_df.duplicated().sum()}")
print(
    f"Number of duplicate in order_id: \t{order_payments_df['order_id'].duplicated().sum()}"
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

(rows, collumns): 			(103886, 5)
nunique of order_id: 			99440
nunique of payment_type: 		5

Number of duplicate rows: 		0
Number of duplicate in order_id: 	4446

In [111]:
# Baris yang duplikat berdasarkan order_id
duplicated_order_id = order_payments_df[
    order_payments_df.duplicated("order_id", keep=False)
]
duplicated_order_id.sort_values(by="order_id", ascending=False).head(4)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
28537,ffc730a0615d28ec19f9cad02cb41442,2,credit_card,1,12.63
75188,ffc730a0615d28ec19f9cad02cb41442,1,credit_card,1,14.76
3009,ffa39020fe7c8a3e907320e1bec4b985,2,voucher,1,64.01
32912,ffa39020fe7c8a3e907320e1bec4b985,1,credit_card,1,7.13

In [112]:
# order_payments_df.pivot_table(
#     index="payment_type", values="order_id", aggfunc="nunique"
# ).sort_values(by="order_id", ascending=False)

In [113]:
# Rows yang memiliki nilai not_defined pada kolom payment_type
not_defined_payment = order_payments_df[
    order_payments_df["payment_type"] == "not_defined"
]
not_defined_payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.0
57411,00b1cb0320190ca0daa2c88b35206009,1,not_defined,1,0.0
94427,c8c528189310eaa44a745b8d9d26908b,1,not_defined,1,0.0

In [114]:
order_payments_df.describe().round(2)

       payment_sequential  payment_installments  payment_value
count           103886.00             103886.00      103886.00
mean                 1.09                  2.85         154.10
std                  0.71                  2.69         217.49
min                  1.00                  0.00           0.00
25%                  1.00                  1.00          56.79
50%                  1.00                  1.00         100.00
75%                  1.00                  4.00         171.84
max                 29.00                 24.00       13664.08

**Insight:**
1. Nunique of `order_id`:
    - Dataset ini mencakup **103886** entri, dengan **99440** pesanan unik. 
    - Terdapat **4446** pesanan yang memiliki entri duplikat pada `order_id`
    - Ini menunjukkan bahwa beberapa pesanan memiliki lebih dari satu pembayaran, juga menunjukkan pesanan dibayar dengan beberapa metode atau cicilan.
2. Berdasarkan nilai quartil `payment_installments`, sebagian besar pelanggan melakukan pembayaran dalam **1** hingga **4** cicilan
3. Nilai pembayaran berkisar dari **0** hingga **13.664,08** dengan Rata-Rata di Sekitar **154,10**

### Eksplorasi Data `order_items_products_df` dan `order_payments_df`

In [115]:
merged_df = pd.merge(
    order_items_products_df,
    order_payments_df,
    on="order_id",
    how="inner",
)

In [116]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117601 entries, 0 to 117600
Data columns (total 19 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_id                    117601 non-null  object
 1   order_item_id               117601 non-null  int64
 2   product_id                  117601 non-null  object
 3   seller_id                   117601 non-null  object
 4   shipping_limit_date         117601 non-null  datetime64[ns]
 5   price                       117601 non-null  float64
 6   freight_value               117601 non-null  float64
 7   product_category_name       117601 non-null  object
 8   product_name_lenght         117601 non-null  float64
 9   product_description_lenght  117601 non-null  float64
 10  product_photos_qty          117601 non-null  float64
 11  product_weight_g            117601 non-null  float64
 12  product_length_cm           117601 non-null  float64
 13  product_height_cm           117601 non-null  float64
 14  product_width_cm            117601 non-null  float64
 15  payment_sequential          117601 non-null  int64
 16  payment_type                117601 non-null  object
 17  payment_installments        117601 non-null  int64
 18  payment_value               117601 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(5)
memory usage: 17.0+ MB

In [118]:
merged_df.sort_values(by="payment_value", ascending=False).head().T

,1697,1696,1690,1691,1692
order_id,03caa2c082116e1d31e67e9ae3700499,03caa2c082116e1d31e67e9ae3700499,03caa2c082116e1d31e67e9ae3700499,03caa2c082116e1d31e67e9ae3700499,03caa2c082116e1d31e67e9ae3700499
order_item_id,8,7,1,2,3
product_id,5769ef0a239114ac3a854af00df129e4,5769ef0a239114ac3a854af00df129e4,5769ef0a239114ac3a854af00df129e4,5769ef0a239114ac3a854af00df129e4,5769ef0a239114ac3a854af00df129e4
seller_id,b37c4c02bda3161a7546a4e6d222d5b2,b37c4c02bda3161a7546a4e6d222d5b2,b37c4c02bda3161a7546a4e6d222d5b2,b37c4c02bda3161a7546a4e6d222d5b2,b37c4c02bda3161a7546a4e6d222d5b2
shipping_limit_date,2017-10-06 15:28:20,2017-10-06 15:28:20,2017-10-06 15:28:20,2017-10-06 15:28:20,2017-10-06 15:28:20
price,1680.0,1680.0,1680.0,1680.0,1680.0
freight_value,28.01,28.01,28.01,28.01,28.01
product_category_name,fixed_telephony,fixed_telephony,fixed_telephony,fixed_telephony,fixed_telephony
product_name_lenght,39.0,39.0,39.0,39.0,39.0
product_description_lenght,2493.0,2493.0,2493.0,2493.0,2493.0
product_photos_qty,3.0,3.0,3.0,3.0,3.0
product_weight_g,750.0,750.0,750.0,750.0,750.0
product_length_cm,16.0,16.0,16.0,16.0,16.0
product_height_cm,16.0,16.0,16.0,16.0,16.0
product_width_cm,16.0,16.0,16.0,16.0,16.0
payment_sequential,1,1,1,1,1
payment_type,credit_card,credit_card,credit_card,credit_card,credit_card
payment_installments,1,1,1,1,1
payment_value,13664.08,13664.08,13664.08,13664.08,13664.08

In [139]:
payment_counts = merged_df["payment_type"].value_counts()
total_payments = payment_counts.sum()
payment_percentages = (payment_counts / total_payments) * 100

pd.DataFrame(
    {
        "Count": payment_counts.values,
        "Percentage": payment_percentages.round(2).map("{:.2f}%".format),
    }
)

              Count Percentage
payment_type
credit_card   86769     73.78%
boleto        22867     19.44%
voucher        6274      5.33%
debit_card     1691      1.44%

**Insight:**\
Kategori produk `fixed_telephony` memiliki nilai pembayaran tertinggi dengan total sebesar **13664.08**.\
Sementara itu, metode pembayaran `credit_card` menjadi yang paling dominan digunakan oleh pembeli, mencakup **73.78%** dari seluruh transaksi.

In [120]:
print(
    sellers_df.pivot_table(
        index="seller_state", values="seller_id", aggfunc="count"
    ).sort_values(by="seller_id", ascending=False)
)

              seller_id
seller_state
SP                 1849
PR                  349
MG                  244
SC                  190
RJ                  171
RS                  129
GO                   40
DF                   30
ES                   23
BA                   19
CE                   13
PE                    9
PB                    6
MS                    5
RN                    5
MT                    4
RO                    2
SE                    2
AC                    1
PI                    1
AM                    1
MA                    1
PA                    1

### Eksplorasi Data `customers_df`

In [121]:
print(customers_df.info())

print(f"\n(rows, collumns): \t\t\t{customers_df.shape}")
print(f"nunique of customer_id: \t\t{customers_df['customer_id'].nunique()}")
print(
    f"nunique of customer_unique_id: \t\t{customers_df['customer_unique_id'].nunique()}"
)

print(f"\nNumber of duplicate rows: \t\t\t{customers_df.duplicated().sum()}")
print(
    f"Number of duplicate in customer_id: \t\t{customers_df['customer_id'].duplicated().sum()}"
)
print(
    f"Number of duplicate in customer_unique_id: \t{customers_df['customer_unique_id'].duplicated().sum()}"
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

(rows, collumns): 			(99441, 5)
nunique of customer_id: 		99441
nunique of customer_unique_id: 		96096

Number of duplicate rows: 			0
Number of duplicate in customer_id: 		0
Number of duplicate in customer_unique_id: 	3345

In [122]:
# Baris yang duplikat berdasarkan customer_unique_id
duplicated_customer_unique_id = customers_df[
    customers_df.duplicated("customer_unique_id", keep=False)
]
print(
    duplicated_customer_unique_id.sort_values(
        by="customer_unique_id", ascending=False
    ).head()
)

                            customer_id                customer_unique_id  \
12133  0088395699ea0fcd459bfbef084997db  ffe254cc039740e17dd15a5305035928
64323  4b231c90751c27521f7ee27ed2dc3b8f  ffe254cc039740e17dd15a5305035928
75057  1ae563fdfa500d150be6578066d83998  ff922bdd6bafcdf99cb90d7f39cea5b3
27992  bec0bf00ac5bee64ce8ef5283051a70c  ff922bdd6bafcdf99cb90d7f39cea5b3
79859  d064be88116eb8b958727aec4cf56a59  ff922bdd6bafcdf99cb90d7f39cea5b3

       customer_zip_code_prefix customer_city customer_state
12133                     37640       extrema             MG
64323                     37640       extrema             MG
75057                     17340  barra bonita             SP
27992                     17340  barra bonita             SP
79859                     17340  barra bonita             SP

### Eksplorasi Data `geolocation_df`

In [123]:
print(geolocation_df.head())

print(f"\n(rows, collumns): \t\t\t{geolocation_df.shape}")
print(
    f"nunique of geolocation_zip_code_prefix: {geolocation_df['geolocation_zip_code_prefix'].nunique()}"
)
print(f"nunique of geolocation_lat: \t\t{geolocation_df['geolocation_lat'].nunique()}")
print(f"nunique of geolocation_lng: \t\t{geolocation_df['geolocation_lng'].nunique()}")

print(f"\nNumber of duplicate rows: \t\t\t\t{geolocation_df.duplicated().sum()}")
print(
    f"Number of duplicate in geolocation_zip_code_prefix: \t{geolocation_df['geolocation_zip_code_prefix'].duplicated().sum()}"
)

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

(rows, collumns): 			(738332, 5)
nunique of geolocation_zip_code_prefix: 19015
nunique of geolocation_lat: 		717360
nunique of geolocation_lng: 		717613

Number of duplicate rows: 				0
Number of duplicate in geolocation_zip_code_prefix: 	719317

In [124]:
# Baris yang duplikat berdasarkan geolocation_zip_code_prefix
duplicated_geolocation_zip_code_prefix = geolocation_df[
    geolocation_df.duplicated("geolocation_zip_code_prefix", keep=False)
]
print(
    duplicated_geolocation_zip_code_prefix.sort_values(
        by="geolocation_zip_code_prefix", ascending=False
    ).head()
)

         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
999758                         99990       -28.329718       -51.769615
999864                         99990       -28.329472       -51.769109
1000161                        99980       -28.388932       -51.846871
999976                         99980       -28.418178       -51.779942
999764                         99980       -28.386239       -51.847741

        geolocation_city geolocation_state
999758         muliterno                RS
999864         muliterno                RS
1000161  david canabarro                RS
999976   david canabarro                RS
999764   david canabarro                RS

Setiap titik geolokasi mungkin mewakili lokasi yang berbeda dalam kode pos yang sama dalam kota yang sama.

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2